<!-- app/views/about_us/index.html.erb -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">

      <h1 class="display-4 mb-4 text-center" style="color: #ff0000;">About Us</h1>

      <p class="lead text-center" style="color: #0066cc;">Welcome to AmitCoaching!</p>

      <p style="color: #333333;">At AmitCoaching, we are driven by a passion for Our mission is to empower individuals by providing accessible and high-quality education, fostering a lifelong love for learning and enabling them to reach their full potential in a rapidly changing world. Our journey began with the vision to Our founders established AmitCoaching with the goal of creating a sustainable and socially responsible business. Our guiding principles include environmental stewardship, ethical business practices, and a commitment to giving back to the community.</p>

      <h2 class="mt-4" style="color: #0066cc;">Our Mission:</h2>
      <p style="color: #333333;">Our mission is to empower individuals by providing accessible and high-quality education, fostering a lifelong love for learning and enabling them to reach their full potential in a rapidly changing world.</p>
      <h2 style="color: #0066cc;">What Sets Us Apart:</h2>
      <p style="color: #333333;">One of our key differentiators is our unwavering commitment to using sustainable materials. We carefully source recycled and upcycled materials to create our handmade crafts, minimizing environmental impact and contributing to a circular economy.</p>

      <h2 style="color: #0066cc;">Community Engagement:</h2>
      <p style="color: #333333;">We regularly organize free workshops and seminars open to the community. These events cover a range of topics, from study skills and career guidance to technology and innovation, empowering individuals with valuable knowledge and skills.</p>

      <h2 style="color: #0066cc;">Future Goals:</h2>
      <p style="color: #333333;"><strong>Aspiration: </strong> To become a globally recognized and influential player in the education sector.,<br> <strong>Goals:</strong>Expand our educational offerings to cater to a diverse global audience.</p>


      <p style="color: #333333;">Thank you for being a part of our journey. We look forward to continuing to serve and make a positive impact in Education field.</p>

      <div class="card" style="width: 18rem;">
            <img src="assets/amit.jpeg" class="card-img-top" alt="amit">
            <div class="card-body">
                <h5 class="card-title"><strong>Name:</strong> Amit Singh Tomar</h5>
                <p class="card-text"><strong>Education:</strong>- Master:Master of Science(Math), Graduation: Bachelor of Science(Computer Science)</p>
                <h2>Subscribe my Youtube Channel</h2>
                <a href="https://www.youtube.com/@amitsircoachingclasses" class="btn btn-primary" style="color: red;">
                  <img src="assets/youtube" alt="YouTube Logo" style="width: 20px; height: 20px; margin-right: 5px;"> Watch on YouTube
                </a>
                
            </div>
       </div>

      <p style="color: #888888;" class="mt-4">AmitSirCoaching - 2023</p>

    </div>
  </div>
</div>