<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h2>New Contact Form Submission</h2>
  
  <p><strong>Name:</strong> <%= @user.name %></p>
  <p><strong>Email:</strong> <%= @user.email %></p>
  <p><strong>Message:</strong> <%= @user.message %></p>
  
  <p>Thank you for using our contact form!</p>
</body>
</html>