<style>
        .marquee-container {
            overflow: hidden;
            white-space: nowrap;
            margin: 20px 0;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
            border-radius: 8px; 

        
            /* position: absolute; */
        }

        .marquee-container img {
            width: 100%; 
            height: 450px; 
            display: block; 
        }
        section {
            max-width: 800px;
            text-align: center;
            margin: 20px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        h2 {
            color: #333;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
            color: #555;
        }
</style>

<div class="marquee-container" >
    <%= image_tag "home1.jpg" %>  
</div>

<br>
<br>

<section>
    <h2>About Us</h2>
    <p>
        AmitCoaching is dedicated to helping you achieve your goals and unlock your full potential. Our experienced coaches are here to guide and support you on your journey to success.
    </p>
</section>

<section>
    <h2>What We Believe in</h2>
    <blockquote>
        <strong>"AmitCoaching has truly transformed my life. The personalized guidance and support have been instrumental in my personal and professional growth."</strong>
    </blockquote>
    <p id="basic" style="color: #333;">
        At AmitCoaching, we firmly believe in the power of personalized guidance and support. Our commitment is to empower individuals on their journey towards personal and professional growth. The transformative experiences shared by our clients reflect the core values we uphold — a dedication to fostering positive change and unlocking the full potential within each individual. Through tailored coaching, we strive to make a meaningful impact on lives, helping our clients achieve their goals and navigate towards success.
    </p>
</section>


